body {
  min-width: 400px;
  display: 0 auto;
  text-align: center;
  background-color: #151515;
  color: white;
}

.main-title {
  text-decoration: underline;
  padding: 1rem;
  font-size: 3rem;
}

a {
  color: white;
}